.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.buffered {
    height: 40px;
    position: relative;
    /* background: #555; */
    background-color: #e9ecef;
    width: 300px;
  }
  
  #buffered-amount {
    display: block;
    /* height: 100%; */
    /* background-color: #777; */
    height: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: cornflowerblue;
    width: 0;
  }
  
  .progress {
    margin-top: -20px;
    height: 20px;  
    position: relative;
    width: 300px;
  }
  
  #progress-amount {
    display: block;
    /* height: 100%; */
    height: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #595;
    width: 0;
  }