<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Memory App</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
  <title></title>
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />
  <script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 sidebar">
        {% block sidebar %}
        <h2>Memories</h2>
        {% for memory in context.memories %}
        <div id="sidebar">
          <!-- This is the trick to create list links that are bound to individual objects by pk -->
          <!-- When link is clicked, details for pk will be loaded into detail html -->
          <p><a href="{% url 'memory_detail' pk=memory.pk %}">{{ memory.title }}</a></p>
        </div>
        {% endfor %}
        {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
<!-- <body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 "></div>
    </div>
  </div>
</body> -->
</html>